/** Hero section **/

.hero {
  background-image: url("../img/hero-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 200px 0;
}

.hero div {
  max-width: 300px;
}

.hero p {
  font-size: 16px;
}

.hero h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.hero h1 {
  margin-top: 150px;
}

.hero-img img {
  width: 100%;
}

@media only screen and (min-width: 767px) {
  .hero {
    background-position: right top;
  }
}

@media only screen and (min-width: 1024px) {
  .hero div {
    max-width: 420px;
  }
  .hero p {
    font-size: 20px;
  }
}

/** About section **/
section.about {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.vertical-section {
  display: none;
}

div.about-content {
  width: 100%;
}

div.about-content img {
  width: 100%;
}

div.about-content div {
  display: flex;
  justify-content: stretch;
  align-items: end;
  gap: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
}

div.about-content hr {
  flex-grow: 1;
}

.ticker img {
  width: 100%;
}

.ticker p {
  text-align: center;
  margin-bottom: -5px;
  white-space: nowrap;
  overflow: hidden;
}

@media only screen and (min-width: 1024px) {
  section.about {
    flex-direction: row;
  }

  div.about-aside {
    width: 45%;
  }

  div.about-content {
    width: 55%;
  }

  .vertical-section {
    display: block;
    position: relative;
    height: 850px;
    width: 100px;
    margin-top: 20px;
  }

  .vertical-line {
    position: absolute;
    top: 0;
    left: 15%;
    transform: translateX(-50%);
    height: 100%;
    z-index: 1;
  }

  .rotated-text {
    font-style: italic;
    position: absolute;
    top: 44%;
    left: 5%;
    transform: translateX(-50%) rotate(90deg);
    white-space: nowrap;
    z-index: 2;
  }
}
