/** Hero **/
section.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.hero .section-heading {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}

.hero .section-subheading {
  width: 55%;
}

.hero .section-heading h1 {
  font-size: 28px;
}

.hero .section-heading h1 span {
  display: none;
}

.hero .section-heading h6 {
  font-size: 14px;
}

.hero .section-subheading h3 {
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
}

.hero .section-subheading {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: right;
}

.hero .section-subheading * {
  color: #fff;
}

.hero .section-subheading h3 {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}

.hero .section-subheading h6.subheading-sm,
.hero .section-subheading p {
  font-size: 12px;
}

.hero .section-subheading p {
  margin-bottom: unset;
}

.hero-img {
  padding-top: 0;
  padding-bottom: 0;
}

.hero-img img {
  max-height: 180px;
  object-fit: cover;
}

@media only screen and (min-width: 768px) {
  .hero .section-heading h1 {
    font-size: 56px;
  }
  .hero .section-heading h6 {
    font-size: 24px;
  }

  .hero .section-subheading h3 {
    font-size: 42px;
  }

  .hero .section-subheading h6.subheading-sm,
  .hero .section-subheading p {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1024px) {
  .hero .section-heading {
    gap: 20px;
  }

  .hero .section-heading h1 {
    font-size: 72px;
  }

  .hero .section-heading h1 span {
    display: inline-block;
  }

  .hero .section-heading {
    gap: 20px;
  }

  .hero .section-heading h1 {
    font-size: 72px;
  }

  .hero .section-heading h6 {
    font-size: 24px;
  }

  .hero .section-subheading h3 {
    font-size: 42px;
  }

  .hero-img img {
    max-height: 450px;
  }
}

/** About section **/
section.about {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

div.about-content {
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  section.about {
    flex-direction: row;
  }

  div.about-heading {
    width: 45%;
  }

  div.about-content {
    width: 55%;
  }
}

/** Programme Objectives **/
div.objectives .banner {
  height: 200px;
  background: url("../img/programme-objectives-bg.jpg") rgba(0, 0, 0, 0.2);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.objectives .banner {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.objectives .banner * {
  color: #fff;
  font-weight: 700;
}

.objectives .banner h6 {
  text-align: right;
  text-transform: uppercase;
}

section.objectives-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.objectives-list ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ticker p {
  text-align: center;
  font-weight: 300;
  margin-bottom: -8px;
  white-space: nowrap;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  div.objectives .banner {
    height: 250px;
  }
}
@media only screen and (min-width: 1024px) {
  div.objectives .banner {
    height: 300px;
  }

  .objectives .banner h3 {
    font-size: 72px;
  }

  .objectives .banner h6 {
    font-size: 42px;
  }

  section.objectives-content {
    flex-direction: row;
  }

  div.objectives-heading {
    width: 45%;
  }

  div.objectives-list {
    width: 55%;
  }
}

/** Organisations **/
.organisations {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.organisations .heading {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.organisations .heading h3 {
  width: 50%;
  font-size: 26px;
}

.organisations .heading h5 {
  width: 45%;
  text-align: right;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 15px;
}

.organisations .org-item {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.organisations .org-item .org-img {
  background-color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
}

.organisations .org-item .org-img img {
  margin: 0 auto;
  max-width: 300px;
}

.organisations .org-item .org-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.organisations .org-item .org-details p:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .organisations .heading h3 {
    font-size: 42px;
  }

  .organisations .heading h5 {
    max-width: 250px;
    font-size: 24px;
  }

  .organisations .org-item {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1024px) {
  .organisations .heading h3 {
    font-size: 48px;
  }

  .organisations .heading h5 {
    max-width: 250px;
    font-size: 28px;
  }

  .organisations .org-item .org-img {
    width: 40%;
  }

  .organisations .org-item .org-img img {
    max-width: 320px;
  }

  .organisations .org-item .org-details {
    width: 60%;
  }
}

/** CTV Pilot Sceme **/
div.pilot-scheme .banner {
  margin-top: 50px;
  height: 200px;
  background: url("../img/programme-objectives-bg.jpg") rgba(0, 0, 0, 0.2);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.pilot-scheme .banner {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.pilot-scheme .banner * {
  color: #fff;
  font-weight: 700;
}

.pilot-scheme .banner h6 {
  text-align: right;
  text-transform: uppercase;
}

section.pilot-scheme-content,
section.pilot-scheme-companies {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

section.pilot-scheme-companies {
  padding-top: 0;
}

.pilot-scheme-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media only screen and (min-width: 768px) {
  div.pilot-scheme .banner {
    height: 250px;
  }
}
@media only screen and (min-width: 1024px) {
  div.pilot-scheme .banner {
    height: 300px;
  }

  .pilot-scheme .banner h3 {
    font-size: 72px;
  }

  .pilot-scheme .banner h6 {
    font-size: 42px;
  }

  section.pilot-scheme-content,
  section.pilot-scheme-companies {
    flex-direction: row;
  }

  div.pilot-scheme-heading {
    width: 45%;
  }

  div.pilot-scheme-details {
    width: 55%;
  }
}

/** Dataset Poduction **/
div.dataset-production .banner {
  height: 200px;
  background: url("../img/dataset-production-bg.jpg") rgba(0, 0, 0, 0.2);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.dataset-production .banner {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.dataset-production .banner * {
  color: #fff;
  font-weight: 700;
}

.dataset-production .banner h6 {
  text-align: right;
  text-transform: uppercase;
}

section.dataset-production-content,
section.dataset-production-companies {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

section.dataset-production-companies {
  padding-top: 0;
  padding-bottom: 0;
}

div.dataset-production-content,
section.dataset-production-companies {
  width: 100%;
}

.dataset-production-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media only screen and (min-width: 768px) {
  div.dataset-production .banner {
    height: 250px;
  }
}
@media only screen and (min-width: 1024px) {
  div.dataset-production .banner {
    height: 350px;
  }

  .dataset-production .banner h3 {
    font-size: 72px;
  }

  .dataset-production .banner h6 {
    font-size: 42px;
  }

  section.dataset-production-content,
  section.dataset-production-companies {
    flex-direction: row;
  }

  div.dataset-production-heading {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  div.dataset-production-details {
    width: 55%;
  }
}

/** Page footer **/
.page-footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

.page-footer img {
  width: 160px;
}

@media only screen and (min-width: 1024px) {
  .page-footer {
    padding-top: 0;
    padding-bottom: 20px;
  }

  .page-footer img {
    width: 220px;
    margin-top: -220px;
  }
}
