footer .footer-grid {
  background-color: #404040;
  padding: 30px 15px;
  border-radius: 0 0 10px 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

footer .footer-grid * {
  color: #fff;
}

footer .footer-slogan {
  max-width: 70%;
  margin: 0 auto;
}

footer .footer-grid h5 span {
  padding-left: 50px;
}

footer .footer-grid h6 {
  margin-top: 10px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 200;
  font-style: italic;
}

footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

footer ul li {
  margin-left: 0;
  text-align: center;
}

footer a {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 15px;
}

footer .footer-social-lang {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

footer .social-icons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

footer .social-icons a i {
  width: 30px;
  height: 30px;
}

footer .language-selector a {
  padding: 0 5px;
}

.footer-bottom {
  background-color: #fff;
  padding: 50px 10px 30px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.footer-bottom h6 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 20px;
}

.footer-bottom p {
  font-size: 14px;
}

.footer-bottom .support-org {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer-bottom .support-org div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.footer-bottom .support-org .logo-01 {
  min-width: 35px;
  max-width: 103px;
}

.footer-bottom .support-org .logo-02 {
  min-width: 35px;
  max-width: 105px;
}

.footer-bottom .support-org .logo-03 {
  min-width: 87px;
  max-width: 260px;
}

.footer-bottom .support-org .logo-04 {
  min-width: 53px;
  max-width: 160px;
}

.footer-bottom .support-org .logo-05 {
  min-width: 77px;
  max-width: 230px;
}

.footer-bottom .support-org .logo-06 {
  min-width: 50px;
  max-width: 148px;
}

.footer-bottom .support-org .logo-07 {
  min-width: 26px;
  max-width: 76px;
}

.footer-bottom .support-org .logo-08 {
  min-width: 60px;
  max-width: 180px;
}

.footer-bottom .support-org .logo-09 {
  min-width: 44px;
  max-width: 132px;
}

@media only screen and (min-width: 768px) {
  footer .footer-grid {
    border-radius: 0 0 20px 20px;
    padding: 30px;
  }

  footer .footer-grid h5 span {
    padding-left: 80px;
  }

  footer .footer-grid h6 {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1024px) {
  .mobile-footer-logo {
    display: none;
  }

  footer .footer-grid {
    padding: 80px 50px;
    grid-template-columns: 6fr 4fr 2fr;
  }

  footer .footer-slogan {
    max-width: unset;
    margin: unset;
  }

  footer ul li {
    text-align: unset;
  }

  footer .footer-social-lang,
  footer .social-icons {
    justify-content: left;
  }

  footer .language-selector {
    display: none;
  }

  .footer-bottom {
    flex-direction: row;
    gap: 50px;
  }

  .footer-bottom .support-org {
    width: 55%;
  }

  .footer-bottom .disclaimer {
    width: 45%;
  }

  .footer-bottom .support-org div {
    gap: 40px;
  }
}
