/** Global **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #4e4e4e;
}

body {
  padding: 30px 10px 10px 10px;
  width: 100%;
  margin: auto;
  font-family: "Montserrat", sans-serif;
}

.content-wrapper {
  background-color: #d9d9d9;
  border-radius: 10px 10px 0 0;
  margin-top: 40px;
  padding-bottom: 20px;
}

section {
  padding: 25px 15px;
}

h1 {
  font-weight: 400;
  font-size: 42px;
  line-height: 1em;
}

h2 {
  font-weight: 500;
  font-size: 36px;
  line-height: 1em;
}

h3 {
  font-size: 32px;
  font-weight: 400;
  line-height: 1em;
  letter-spacing: -0.03em;
}

h4 {
  font-size: 28px;
  font-weight: 400;
  line-height: 1em;
  letter-spacing: -0.03em;
}

h5 {
  font-size: 24px;
  font-weight: 400;
  line-height: 1em;
  letter-spacing: -0.02em;
}

h6 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1em;
  letter-spacing: -0.02em;
}

p {
  margin-bottom: 20px;
  line-height: 1.5em;
}

li {
  line-height: 1.5em;
  margin-left: 15px;
}

em {
  font-weight: 200 !important;
  text-transform: none !important;
}

.subheading-sm {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.2em;
}

.subheading-lg {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2em;
}

img {
  width: 100%;
}

button {
  all: unset;
}

button a,
a {
  text-decoration: none;
}

button:hover a,
a:hover,
a.active {
  text-decoration: underline;
}

@media only screen and (min-width: 768px) {
  .content-wrapper {
    border-radius: 20px 20px 0 0;
  }

  section {
    padding: 30px;
  }

  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 42px;
  }

  h4 {
    font-size: 36px;
  }

  h5 {
    font-size: 30px;
  }

  h6 {
    font-size: 24px;
  }

  .subheading-sm {
    font-size: 16px;
  }

  .subheading-lg {
    font-size: 22px;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    padding: 50px 35px 35px 35px;
    max-width: 1440px;
  }

  section {
    padding: 50px;
  }

  h1 {
    font-size: 72px;
  }

  h2 {
    font-size: 56px;
  }

  h3 {
    font-size: 48px;
  }

  h4 {
    font-size: 42px;
  }

  h5 {
    font-size: 32px;
  }

  h6 {
    font-size: 24px;
  }

  .subheading-sm {
    font-size: 18px;
  }

  .subheading-lg {
    font-size: 26px;
  }

  p,
  li {
    font-size: 18px;
  }
}
