/** Hero **/
section.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.hero .section-heading {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}

.hero .section-heading h1 {
  font-size: 36px;
}

.hero .section-heading h6 {
  font-size: 14px;
}

.hero .section-subheading {
  width: 55%;
}

.hero .section-subheading {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: right;
}

.hero .section-subheading * {
  color: #fff;
}

.hero .section-subheading h3 {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}

.hero .section-subheading h6.subheading-sm {
  font-size: 13px;
}

.hero .section-subheading p {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: unset;
}

@media only screen and (min-width: 768px) {
  .hero .section-heading h1 {
    font-size: 56px;
  }
  .hero .section-heading h6 {
    font-size: 24px;
  }

  .hero .section-subheading h3 {
    font-size: 42px;
  }

  .hero .section-subheading h6.subheading-sm {
    font-size: 16px;
  }
  .hero .section-subheading p {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .hero .section-heading {
    gap: 20px;
  }

  .hero .section-heading h1 {
    font-size: 72px;
  }

  .hero .section-heading h6 {
    font-size: 24px;
  }

  .hero .section-subheading h3 {
    font-size: 42px;
  }

  .hero .section-subheading h6.subheading-sm {
    font-size: 18px;
  }
}

/** Featured event **/
.featured-event {
  background-color: #fff;
  margin: 0 15px 25px 15px;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  align-items: start;
  gap: 20px;
}

.featured-event-swiper {
  width: 50%;
}

.featured-event-details {
  width: 50%;
}

.featured-event-swiper img,
.featured-event-swiper video {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.featured-event-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  align-self: stretch;
}

.featured-event-title {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.2em;
}

.featured-event-date {
  font-size: 12px;
  font-weight: 500;
  margin-top: 10px;
}

.featured-event-details > div {
  display: flex;
  flex-direction: column;
}

.featured-event-desc {
  display: none;
}

.featured-event-details button {
  margin-top: auto;
  align-self: flex-end;
}

.featured-event button a {
  font-size: 13px;
}

@media only screen and (min-width: 768px) {
  .featured-event {
    margin: 0 30px 30px 30px;
    padding: 20px;
    border-radius: 20px;
    gap: 30px;
  }

  .featured-event-swiper {
    width: 60%;
  }

  .featured-event-details {
    width: 40%;
  }
}

@media only screen and (min-width: 1024px) {
  .featured-event {
    margin: 0 50px 50px 50px;
    padding: 30px;
    gap: 50px;
  }

  .featured-event-title {
    font-size: 24px;
  }

  .featured-event-date {
    font-size: 15px;
    font-weight: 500;
    margin-top: 5px;
  }

  .featured-event-desc {
    display: block;
  }

  .featured-event-desc p {
    font-size: 16px;
  }

  .featured-event button a {
    font-size: 15px;
  }
}

/** CTV Events **/
section.ctv-events {
  padding-top: 0;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 20px;
}

.ctv-events .event {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  align-items: start;
  gap: 10px;
  transition: opacity 0.5s, transform 0.5s;
}

.event .event-swiper {
  width: 50%;
}

.event .event-details {
  width: 50%;
}

.event-swiper img,
.event-swiper video {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.event-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  align-self: stretch;
  flex-grow: 1;
}

.event-title {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.2em;
}

.event-date {
  font-size: 12px;
  font-weight: 500;
  margin-top: 10px;
}

.event-details > div {
  display: flex;
  flex-direction: column;
}

.event-desc {
  display: none;
}

.event-details button {
  margin-top: auto;
  align-self: flex-end;
}

.event button a {
  font-size: 13px;
}

@media only screen and (min-width: 768px) {
  section.ctv-events {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .ctv-events .event {
    flex-direction: column;
    gap: 20px;
    padding: 15px;
  }

  .event .event-swiper {
    width: 100%;
  }

  .event-swiper img,
  .event-swiper video {
    height: 220px;
  }

  .event .event-details {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  section.ctv-events {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 30px;
  }

  .event-title {
    font-size: 24px;
  }

  .event-date {
    font-size: 15px;
    font-weight: 500;
    margin-top: 5px;
  }

  .event-desc {
    display: block;
  }

  .event-desc p {
    font-size: 16px;
  }

  .event button a {
    font-size: 15px;
  }
}

/** Page footer **/
.page-footer {
  padding-top: 0;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.page-footer img {
  width: 160px;
}

@media only screen and (min-width: 1024px) {
  .page-footer img {
    width: 220px;
  }
}

/** Initially hide events beyond the first 6 **/
.hidden {
  display: none !important;
}

.slide-down {
  animation: slide-down 0.5s forwards;
}

.slide-up {
  animation: slide-up 0.5s forwards;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-up {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

/** Load More and Hide Buttons **/
.load-more-btn,
.hide-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.load-more-btn.hidden,
.hide-btn.hidden {
  display: none;
}
