/** Hero **/
section.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.hero .section-heading {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}

.hero .section-heading h1 {
  font-size: 36px;
}

.hero .section-heading h6 {
  font-size: 14px;
}

.hero .section-subheading {
  width: 55%;
}

.hero .section-subheading {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: right;
}

.hero .section-subheading * {
  color: #fff;
}

.hero .section-subheading h3 {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}

.hero .section-subheading h6.subheading-sm,
.hero .section-subheading p {
  font-size: 13px;
}

.hero .section-subheading p {
  margin-bottom: unset;
}

@media only screen and (min-width: 768px) {
  .hero .section-heading h1 {
    font-size: 56px;
  }
  .hero .section-heading h6 {
    font-size: 24px;
  }

  .hero .section-subheading h3 {
    font-size: 42px;
  }

  .hero .section-subheading h6.subheading-sm,
  .hero .section-subheading p {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1024px) {
  .hero .section-heading {
    gap: 20px;
  }

  .hero .section-heading h1 {
    font-size: 72px;
  }

  .hero .section-heading h6 {
    font-size: 24px;
  }

  .hero .section-subheading h3 {
    font-size: 42px;
  }

  .hero .section-subheading h6.subheading-sm,
  .hero .section-subheading p {
    font-size: 18px;
  }
}

/** Featured news **/
.featured-news {
  background-color: #fff;
  margin: 0 15px 25px 15px;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  align-items: start;
  gap: 20px;
}

.featured-news-image {
  width: 50%;
}

.featured-news-details {
  width: 50%;
}

.featured-news-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.featured-news-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  align-self: stretch;
}

.featured-news-title {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.2em;
}

.featured-news-date {
  font-size: 12px;
  font-weight: 500;
  margin-top: 10px;
}

.featured-news-details > div {
  display: flex;
  flex-direction: column;
}

.featured-news-desc {
  display: none;
}

.featured-news-details button {
  margin-top: auto;
  align-self: flex-end;
}

.featured-news button a {
  font-size: 13px;
}

@media only screen and (min-width: 768px) {
  .featured-news {
    margin: 0 30px 30px 30px;
    padding: 20px;
    border-radius: 20px;
    gap: 30px;
  }

  .featured-news-image {
    width: 60%;
  }

  .featured-news-details {
    width: 40%;
  }
}

@media only screen and (min-width: 1024px) {
  .featured-news {
    margin: 0 50px 50px 50px;
    padding: 30px;
    gap: 50px;
  }

  .featured-news-title {
    font-size: 24px;
  }

  .featured-news-date {
    font-size: 15px;
    font-weight: 500;
    margin-top: 5px;
  }

  .featured-news-desc {
    display: block;
  }

  .featured-news-desc p {
    font-size: 16px;
  }

  .featured-news button a {
    font-size: 15px;
  }
}

/** CTV News **/
section.ctv-news {
  padding-top: 0;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 20px;
}

.ctv-news .news {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  align-items: start;
  gap: 10px;
  transition: opacity 0.5s, transform 0.5s;
}

.news .news-image {
  width: 50%;
}

.news .news-details {
  width: 50%;
}

.news img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.news-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  align-self: stretch;
  flex-grow: 1;
}

.news-title {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.2em;
}

.news-date {
  font-size: 12px;
  font-weight: 500;
  margin-top: 10px;
}

.news-details > div {
  display: flex;
  flex-direction: column;
}

.news-desc {
  display: none;
}

.news-details button {
  margin-top: auto;
  align-self: flex-end;
}

.news button a {
  font-size: 13px;
}

@media only screen and (min-width: 768px) {
  section.ctv-news {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .ctv-news .news {
    flex-direction: column;
    gap: 20px;
    padding: 15px;
  }

  .news .news-image {
    width: 100%;
    height: 220px;
  }

  .news .news-details {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  section.ctv-news {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 30px;
  }

  .news-title {
    font-size: 24px;
  }

  .news-date {
    font-size: 15px;
    font-weight: 500;
    margin-top: 5px;
  }

  .news-desc {
    display: block;
  }

  .news-desc p {
    font-size: 16px;
  }

  .news button a {
    font-size: 15px;
  }
}

/** Page footer **/
.page-footer {
  padding-top: 0;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.page-footer img {
  width: 160px;
}

@media only screen and (min-width: 1024px) {
  .page-footer img {
    width: 220px;
  }
}
